@import colors
@import overrides

$article-item-width : 300px
$article-item-margin : 10px


.article-section
	padding: 10px 0;
	text-align: center

.article-item
	display: inline-block
	border-radius: 5px
	width: $article-item-width
	vertical-align: top
	margin: $article-item-margin
	border: 1px solid $border-color
	overflow: hidden
	text-align: left
	.img
		height: 200px
		width: $article-item-width

	.details
		margin: 10px 10px 20px 10px

	.title
		color: $submenu-color

	.desc
		color: $article-desc

.article-section-content
	display: inline-block
	text-align: left

	@media #{$large}
		width: $max-width;
	@media #{$desktop}
		width: $max-width-per;
	@media #{$tablet}
		width: $max-width-per;
	@media (max-width: ($article-item-width + ( 2 * $article-item-margin ) ) * 2 )
		text-align: center
		width: 100%;

