@import colors
@import overrides

.banner
	padding: 50px 0
	background : $banner-background
	text-align: center

.banner-text-section
	width : 50%
	display: inline-block
	@media #{$phablet}
		width : 100%
.banner-text
	background : $banner-text
	color : white
	font-size : 22px

.banner-content
	display: inline-block
	text-align: left

	@media #{$large}
		width: $max-width;
	+mediaQuery($tablet, $desktop, $phablet)
		width: $max-width-per;
