@import colors
@import overrides

footer
	background-color: $nav-background
	text-align: center
	padding: 20px
	margin-top: 10px

.footer-col
	vertical-align: top
	padding-left: 3%
	+mediaQuery($tablet, $phablet, $desktop, $large)
		display: inline-block
	@media #{$mobile}
		display: block

	.footer-col-item
		color: $footer-color
		list-style: none
		cursor: pointer
	.footer-col-header
		color: white
		list-style: none

.footer-content
	display: inline-block

	@media #{$large}
		width: $max-width;
	+mediaQuery($tablet, $desktop)
		width: $max-width-per;
