@import colors

footer
	background-color: $nav-background
	text-align: center
	padding: 20px
	margin-top: 10px

.footer-col
	display: inline-block
	vertical-align: top
	padding-left: 3%
	.footer-col-item
		color: $footer-color
		list-style: none

	.footer-col-header
		color: white
		list-style: none

.footer-content
	display: inline-block

	@media #{$large}
		width: $max-width;
	+mediaQuery($tablet, $desktop)
		width: $max-width-per;
