@import colors
@import overrides

.series-section
	padding: 20px 0

.series-item
	overflow: auto
	margin-top: 10px
	margin-bottom: 10px
	+mediaQuery($mobile)
		text-align: center
		border-bottom: 1px solid $border-color
	.img
		height: 150px
		width: 150px
		border-radius: 5px
		margin-right: 10px
		+mediaQuery($tablet, $desktop, $phablet, $large)
			float: left
	.details
		margin-top: 0px
	.title
		color: $submenu-color
		margin-top: 0px
		cursor: pointer


