.sub-menu-section
	border: 1px solid $border-color
	padding: 10px 0
	border-radius: 5px

	+mediaQuery($tablet, $desktop, $large)
		float: right
		width: 250px
		margin: 20px 0 0 20px

	+mediaQuery($phablet, $mobile)
		margin: 20px

	.header
		text-align: center
		margin: 0
		font-family: 'Montserrat', sans-serif

.sub-menu-item
	padding: 5px 0 5px 15px
	color: $submenu-color

.sub-menu-item:hover
	background-color: $submenu-color
	color: white
